.MainContainer {
  display: flex;
  max-width: 1100px;
  border: 1px solid red;
  margin: 10px auto;
  flex-flow: row wrap;
  justify-content: space-around;
  padding: 5px;
}

.LibraryContainer {
  width: 40%;
  height: 300px;
  border: 1px solid black;
}

.CoffeeContainer {
  width: 40%;
  height: 300px;
  border: 1px solid black;
}

.MapsContainer {
  width: 40%;
  height: 300px;
  border: 1px solid teal;
}