
.welcome {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}
.welcome h1 {
  font-size: 70px;
}
.introText {
  text-align: justify;
  width: 350px;
  /* width: 400px; */
  font-size: 20px;
}

.slideReveal {
  height: 100px;
}

.full-text {
  display: inline;
}
.short-text {
  display: none;
}

.MainContainer {
  display: flex;
  max-width: 1100px;
  /* border: 1px solid red; */
  margin: 10px auto;
  flex-flow: row wrap;
  justify-content: space-around;
  padding: 5px;
  /* opacity: 0; */
  transition: opacity 1s ease-in;
  /* opacity: 1; */
  animation: fadein 2s;
}

@keyframes fadein {
  from { opacity: 0;}
  to { opacity: 1;}
}

.LibraryContainer {
  width: 40%;
  min-width: 300px;
  height: 300px;
  border: 1px solid black;
  margin: 20px auto;
}

.CardContainer {
  padding-top: 15px;
  /* min-width: 300px; */
  width: 300px;
  height: 230px;
  /* border: 1px solid #D3D3D3; */
  margin: 20px auto;
  /* opacity: 0.85; */
  filter: grayscale(80%);
  box-shadow: -1px 1px 10px 0px #ececec;
  background-color: #ffffff;
  border-radius: 7px;
}

.CardContainer:hover {
  transition: opacity 0.5s ease-in;
  /* opacity: 1;
  filter: none; */
  filter: saturate(150%);
  box-shadow: -5px 5px 20px 0px #D3D3D3;
}

.CardContainer p {
  line-height: 15px;
}

/* .MapsContainer {
  width: 40%;
  min-width: 300px;
  height: 300px;
  border: 1px solid teal;
  position: relative;
  margin: 20px auto;
} */

p {
  line-height: 1.3;
}

.logoImage {
  margin-top: 22px;
}

.sideNavContent {
  /* display: flex;
  align-items: center;
  height: 100vh; */
  margin-top: 170px;
  margin-left: 25px;
  font-size: 20px;
  text-align: start;
}

@media screen and (max-width: 800px) {
  .AntdSider {
    display: none;
  }
  .full-text {
    display: none;
  }
  .short-text {
    display: inline-block;
  }
}